<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="global.css" rel="stylesheet" type="text/css">

    <!-- Required imports for leaflet.js (Source: https://openjavascript.info/2022/12/11/map-live-user-location-using-leaflet-js/)-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <style>
        #map { height: 400px } /* Wanted to put this in the css file but for some reason wasn't working there */
    </style>
    <!-- Move this to its own js file later-->
    <script>
        function showLocationOnMap() {
            // Map Setup (Source: https://openjavascript.info/2022/12/11/map-live-user-location-using-leaflet-js/)
            const map = L.map('map'); 
            map.setView([51.505, -0.09], 13); 
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map); 
            getLocation(map);
        }

        function getLocation(map) {
            let marker;
            try {
                navigator.geolocation.getCurrentPosition(position => {
                    let latitude = position.coords.latitude;
                    let longitude = position.coords.longitude;
                    //alert("Current Latitude: " + latitude + ". Current Longitude: " + longitude);

                    //Adding marker of current location to map (Same source as map setup and imports)
                    if (marker) { map.remove(marker); }
                    marker = L.marker([latitude, longitude]).addTo(map);
                    map.setView([latitude, longitude]);
                });
                alert("done");
            } catch (err) {
                alert("There was an error attempting to access your current location. Check if permissions enabled.");
            }
        }
    </script>
</head>
<body>

<h1>Hello {{user}}!</h1>

<div id="map"></div>
<button onclick="showLocationOnMap()">Show My Current Latitude and Longitude</button>

</body>