<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <!-- CSS bug fix courtesy of https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app-->
    <link href="{{ url_for('static', filename='global.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<h1 id="front_page_title"> Welcome to TravelFast!</h1>

<h1>Please login below: </h1>
    
<div id="login_form">
    <form action="/login/", method = "post">
        <h2>Username: </h2>
        <input type="text", name="username"><br>
        <h2>Password: </h2>
        <input type="text", name="password"><br>
        <input id="login_button", type="submit", value="Login">
    </form>
    <br>
    <form action="/create_account/", method="post">
        <input id="create_account_button", type="submit", value="Don't have an account? Create one!">
    </form>
</div>
    
<h3 id="failed_login_results">{{return_info}}</h3>

<br>
<!--

Now that the login and database is fully functional these bypass buttons aren't needed

<form action="/temp_bypass_to_map/", method="post">
    <input type="submit", value="See your location without an account">
</form>
<br>
<form action="/temp_bypass_to_route_finder/", method="post">
    <input type="submit", value="Calculate route without an account">
</form>
<br>
<form action="/logout/", method="post">
    <input type="submit", value="Logout">
</form>

-->


</body>
</html>