<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Finder</title>
    <!-- CSS bug fix courtesy of https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app-->
    <link href="{{ url_for('static', filename='global.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<h1 id = "title">TravelFast Route Finder</h1>

<div id="outer_centering">
    <h1>Add the Destinations You Want in Your Route Below by its Coordinates:</h1>

    <div id = "coord_adder_form">
        <form action="/add_location_by_coords/", method = "post">
            <h2>Latitude: </h2>
            <input type="number", step="any", name="latitude"><br>
            <h2>Longitude: </h2>
            <input type="number", step="any", name="longitude"><br>
            <br>
            <input id="coord_add_button" type="submit", value="Add Location">
        </form>
    </div>

    <h1>Or Alternatively, Add the Destination by its Name:</h1>
    <p>*Make sure to be specific and note that addresses work a lot better than the name alone for smaller places*</p>

    <div id = "name_adder_form">
        <form action="/add_location_by_name", method = "post">
            <h2>Name of the Place: </h2>
            <input type="text", name="name"><br>
            <br>
            <input id="name_add_button" type="submit", value="Add Location">
        </form>
    </div><br>

    <h1>Ready to Get Your Route?</h1>

    <div id = "algorithm_choice_form">
        <form action="/calculate_route/", method="post">
            <h2>Select one of the Algorithms Below: </h2>
            <input type="radio", name="algorithm_choice", value="Brute Force"> Brute Force <br>
            <input type="radio", name="algorithm_choice", value="Nearest Neighbors"> Nearest Neighbors <br>
            <input type="radio", name="algorithm_choice", value="Dynamic Programming"> Dynamic Programming <br>
            <input type="radio", name="algorithm_choice", value="Genetic Algorithm"> Genetic Algorithm <br>
            <br>
            <input id="calculate_route_button" type="submit", value="Calculate my route!">
        </form>
    </div><br>

    <form action="/clear_route_locations/", method="post">
        <input id = "clear_route_button" type="submit", value="Clear all places in route">
    </form><br>
        
    <h1>Current Locations Added: </h1>
    <p id="return_info">{{return_info}}</p>
    <p id="place_names">{{place_names}}</p>
</div>



<!--                                   -->
<!--  Actually Showing the Route Code: -->
<!--                                   -->

    <!-- Required imports for leaflet.js (Source: https://openjavascript.info/2022/12/11/map-live-user-location-using-leaflet-js/)-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <script>
        function displayRoute() {
            // Map Setup (Source: https://openjavascript.info/2022/12/11/map-live-user-location-using-leaflet-js/)
            const map = L.map('map'); 
            map.setView([51.505, -0.09], 13); // Gets replaced by first location in route's coordinates
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }).addTo(map); 

            getRoute().then((route_json) => {
                const non_trimmed_route_string = route_json.toString();
                let route_string = "";
                for (let i = 0; i < non_trimmed_route_string.length; i++) {
                    if (non_trimmed_route_string[i] != " ") { route_string += non_trimmed_route_string[i]; }
                }
                route_string += "," // Added so the last location coordinate gets parsed 
                let route = [];
                let lat_long_index = 0; // 0 for when we are adding character to lat, 1 for long
                let location_as_strings = ["", ""]; // will temporarily store each location
                for (let i = 0; i < route_string.length; i++) {
                    if (route_string[i] == ",") {
                        if (lat_long_index == 0) { lat_long_index = 1; }
                        else {
                            route.push([parseFloat(location_as_strings[0]), parseFloat(location_as_strings[1])]);
                            location_as_strings = ["", ""];
                            lat_long_index = 0;
                        }
                    } else { location_as_strings[lat_long_index] += route_string[i]; }
                }
                for (let i = 0; i < route.length; i++) { L.marker(route[i]).addTo(map); }
                var polyline = L.polyline(route, {color: 'red'}).addTo(map); // From https://leafletjs.com/reference.html#polyline
                map.fitBounds(polyline.getBounds());

                // Map view can just be set with the polyline so don't really need this anymore but left for future reference
                    // let squared_start_end_dist = (route[0][0] - route[route.length - 1][0])**2 + (route[0][1] - route[route.length - 1][1])**2
                    // let zoom = Math.floor(10 / Math.sqrt(squared_start_end_dist)); // From local testing this seems to be a good conversion function to OpenStreetMap's zoom
                    // map.setView(route[Math.floor(route.length/2)], zoom); // Centers map on the median location in the route with 
            });
        }
        async function getRoute() {
            const response = await fetch('/return_route/', { method: "POST", credentials: "include", body: JSON.stringify(["placeholder value"])});
            return response.json();
        }
    </script>

<div id="map"></div>

<div id="show_route">
    <button id="show_route_button", onclick="displayRoute()">Show Me My Route!</button>
</div>

<form action="/logout/", method="post">
    <input id="logout_button" type="submit", value="Logout">
</form>

</body>
</html>